@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="spinner"></div>
    <div class="center-content">
    <h1 class="display-4">Welcome to Jambo!</h1>
    <p>A Solar Energy Themed Web API</p>
    <button class="btn btn-info"><a href="https://learn.microsoft.com/aspnet/core">Built with ASP.NET Core</a></button>
    </div>
</div>
